{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Esto es solo un ejemplo</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p> Conocimientos de Redes digitales e Infraestructura de Redes. </p>
        <p> Seguimos aprendiendo </p>
            
        <br>
        <p><b>Teléfono:</b> +55 311 231 #### </p>
        <p><b>Honorarios:</b> No aplica </p>
    </div>
</div>
{% endblock %}

